@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}
#root {
  height: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.custom-box-shadow {
  fill: #171c28;
  stroke-width: 2px;
  stroke: #171c28;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25),
    -4px -4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.color-EDEDED {
  color: #ededed;
}

.color-E3F1FD {
  color: #e3f1fd;
}

.color-E83363 {
  color: #e83363;
}

.color-5CA4A9 {
  color: #5ca4a9;
}
